@import 'bootstrap-icons/font/bootstrap-icons.css';
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

tr[id^='row-data-']::after {
    @apply absolute top-0 left-0 right-0 bottom-0 bg-white/0 cursor-pointer;
    content: '';
}